<div>
  <%# Copyright %>
  <ul class="d-flex flex-row justify-content-around align-items-center mt-2">
    <%# my profile %>
    <li>
      ©<a href="https://daviradprofile.netlify.app" target="_blank">DavidIradukunda</a>. All rights reserved.
    </li>

    <%# credits to api %>
    <li>
      <div id="edamam-badge" data-color="white"></div>
    </li>
  </ul>
</div>