<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

  <div class="container-fluid">
    <!-- Links to user dashboard -->
    <a class="navbar-brand" href="/">Meals on Demand</a>

    <!-- Dropdown of menu button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav items -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link <%= title=='Dashboard'? "active" : "" %>" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= title=='Recipe Lookup'? "active" : "" %>" href="/recipeLookup">Recipe Lookup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= title=='Account'? "active" : "" %>" href="/account">Account</a>
        </li>
      </ul>

      <!-- Button trigger add recipe modal -->
      <div class="justify-content-lg-end">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recipeModal" id="addRecipe">
          Create Recipe
        </button>
      </div>
      <!-- logout button -->
      <div class="d-lg-flex col-sm-1 justify-content-lg-end">
        <a href="/logout" class="btn btn-primary">Logout</a>
      </div>

    </div>
  </div>
</nav>

<!-- recipe modal -->
<div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="recipeModalLabel">Create new recipe</h3>
        <button type="button" class="btn btn-secondary close fa fa-window-close" data-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Form collecting user inputs -->
      <form action="/dbRecipes/create" enctype="multipart/form-data" id="recipeForm" method='POST'>
        <div class="modal-body">
          <!-- Recipe's name -->
          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="recipeName" aria-describedby="recipeNameHelp" name="recipeName" placeholder="Recipe name">
            <label for="recipeName">Recipe name</label>
          </div>

          <!-- Recipe's image -->
          <div class="mb-3">
            <input type="file" class="form-control" id="imageUpload" aria-describedby="recipeImageHelp" name="recipeImage" placeholder="Recipe image" required>
          </div>

          <!-- Recipe's type -->
          <fieldset>
            <div class="d-flex justify-content-center">
              <legend>Choose your recipe's type(s)</legend>
            </div>
            <div class="mb-3 d-flex justify-content-between">
              <input type="checkbox" id="breakfast" name="breakfast" value="breakfast">
              <label for="breakfast">Breakfast</label>
              <input type="checkbox" id="brunch" name="brunch" value="brunch">
              <label for="brunch">Brunch</label>
              <input type="checkbox" id="lunch" name="lunch" value="lunch">
              <label for="lunch">Lunch</label>
              <input type="checkbox" id="dinner" name="dinner" value="dinner">
              <label for="dinner">Dinner</label>
              <input type="checkbox" id="snack" name="snack" value="snack">
              <label for="snack">Snack</label>
              <input type="checkbox" id="teatime" name="teatime" value="teatime">
              <label for="snack">Tea Time</label>
            </div>
          </fieldset>

          <!-- Recipe's ingredients -->
          <div class="mb-3">
            <fieldset>
              <div class="d-flex justify-content-center">
                <legend><label for="recipeIngredients">Recipe's ingredients</label></legend>
              </div>
              <div>
                <textarea class="form-control" id="recipeIngredients" aria-describedby="recipeIngredientsHelp" name="recipeIngredients" placeholder="Input the recipe's ingredients separated by a full stop('.'), there's no need to number them." rows="5"></textarea>
              </div>
            </fieldset>
          </div>

          <!-- Recipe's instructions -->
          <div class="mb-3">
            <fieldset>
              <div class="d-flex justify-content-center">
                <legend><label for="recipeInstructions">Recipe's instructions</label></legend>
              </div>
              <div>
                <textarea class="form-control" id="recipeInstructions" aria-describedby="recipeInstructionsHelp" name="recipeInstructions" placeholder="Input the recipe's instructions in order separated by a full stop('.'), there's no need to number them." rows="5"></textarea>
              </div>
            </fieldset>
          </div>

          <!-- Recipe's reference -->
          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="recipeReference" aria-describedby="recipeReferenceHelp" name="recipeReference" placeholder="Recipe reference">
            <label for="recipeReference">Recipe source</label>
          </div>


          <!-- submit recipe -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary close fa fa-window-close" data-dismiss="modal"></button>
            <button type="submit" class="btn btn-primary fas fa-chevron-circle-right" value="Upload"></button>
          </div> 

        </div>
      </form>

    </div>
  </div>
</div>