<%- include('partials/header') -%>
<%- include('partials/nav') -%>

<main class="w-100 m-auto text-center ">
  <!-- Heading & Image-->
  <img class="mb-2 mt-2" src="/imgs/homePage.png" alt="bookImage" width="100">
  <h1 class="display-5 fw-bold lh-1 mb-3">Dashboard</h1>


</main>
<%- include('partials/footer') -%>