<%# load header partial %>
<%- include('partials/header') -%>


<main class="form-loggings w-100 m-auto text-center position-absolute top-50 start-50 translate-middle">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">

      <%
        //error alerts 
        if (locals.messages.errors) { 
          messages.errors.forEach( el=> { 
      %>
      <%# each alert %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% 
          }); 
        }; 
      %>

      <%# login form %>
      <form action="/auth/login" method="POST">
        <%# logos %>
        <a href="/"><img class="mb-4" src="/imgs/logoIcon.png" alt="logoIcon" width="72" height="57"></a>
        <h1 class="h3 mb-3 fw-normal">Meals on Demand</h1>

        <%# email input %>
        <div class="mb-3 form-floating">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="name@example.com">
          <label for="email">Email address</label>
        </div>

        <%# password input %>
        <div class="form-floating">
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
          <label for="password">Password</label>
        </div>

        <%# remember user checkbox 
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        %>

        <%# submission links/buttons %>
        <button class="btn btn-primary btn-lg px-4 me-md-2" type="submit">Login</button>
        <h5 class="h5 mb-3 mt-3 fw-normal">Don't have an account?</h5>
        <a href="/signup" class="mb-3 btn btn-outline-secondary btn-lg px-4">Sign up</a>
      </form>

    </section>
  </div>
</main>

<%# load footer partial %>
<%- include('partials/footer') -%>