/* login and signup form */
.form-loggings {
  max-width: 650px;
  padding: 15px;
}

.form-loggings .form-floating:focus-within {
  z-index: 2;
}

.form-loggings input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-loggings input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* nav bar - ensures it's fixed */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/* removed bullets from list - recipe */
ul {
  list-style-type: none;
}

/* modal popup*/
.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}

.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.modal-tour .modal-dialog {
  width: 380px;
}

legend {
  width: fit-content;
  background-color: #0b5ed7;
  color: #fff;
  padding: 3px 6px;
}

/* removed link style on recipe text */
.linkText {
  color: black; 
  text-decoration: none; 
}